.user-img-sec img{
     width: 160px;
     height: 160px;
     border-radius: 50%;
}
.user-img-sec{
    padding: 40px;
}
.user-function{
    align-items: center;
    justify-content: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.user-function button{
    background: transparent;
    border: 1px solid rgb(27, 26, 26);
    border-radius: 7px;
    padding: 12px 30px;
    transition: all .4s ease;
}
.user-function button a{
    text-decoration: none;
    color: black;
}
.user-function button a:hover{
    color: white;
}
.user-function button:hover{
   background: rgb(1, 40, 1);
   color: white;
   letter-spacing: 2px;
}
.user-details{
    align-items: center;
    justify-content: center;
}


/* review page */
.review{
    display: flex;
    gap: 50px;
}
.rev-form{
    width: 70%;
    padding: 30px;
}
.rev-form input{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 30px 20px;
    margin-bottom: 20px;
}
.rev-form #submit{
    background: rgb(5, 73, 5);
    color: white;
    padding: 10px 15px;
    transition: all .4s ease;
    
}
.rev-form #submit:hover{
    background: rgb(52, 142, 52);
    transform: translateX(5px);
}
.rev-img img{
    width: 70%;
}